{
    "alias": "taskman.phar",
    "banner": [
      "PHP Taskman phar archive",
      "",
      "(c) Pol Dellaiera <pol.dellaiera@protonmail.com>",
      "",
      "For the full copyright and license information, please view the LICENSE",
      "file that was distributed with the source code."
    ],
    "chmod": "777",
    "force-autodiscovery": true,
    "php-scoper": "box/scoper.inc.php",
    "git-commit-short": "git_commit_short",
    "compactors": [
        "KevinGH\\Box\\Compactor\\PhpScoper"
    ],
    "files": [
        "LICENSE"
    ],
    "directories": [
        "bin",
        "src",
        "vendor"
    ],
    "output": "taskman.phar",
    "compression": "GZ"
}
