imports:
    - { resource: vendor/drupol/php-conventions/config/php71/grumphp.yml }

parameters:
    tasks.phpstan.ignore_patterns:
        - vendor/
        - spec/
        - tests/
    tasks.phpcs.ignore_patterns:
        - vendor/
        - spec/
        - tests/
