imports:
    - { resource: vendor/drupol/php-conventions/config/php56/grumphp.yml }

parameters:
    tasks.phpstan.ignore_patterns:
        - vendor/
        - spec/
        - tests/
    tasks.phpcs.ignore_patterns:
        - vendor/
        - spec/
        - tests/
    extensions:
        - drupol\PhpConventions\GrumphpTasksExtension
