globals:
    options:
        bin:
            mode: 2
            description: The Taskman binary
            default: ../../../../tests/_output/vendor/bin/taskman

tasks:
    baz:
        - echo "foo foo foo"

commands:
    testJ:
        - { task: "boo", msg: "boo boo boo" }
    testK:
        - { task: "boo", msg: "baz baz baz" }
        - { task: "run", command: "testJ" }
    testL:
        - { task: "baz" }
