globals:
    options:
        foo:
            description: foo description
            default: This is the global foo option value.

commands:
    test:foo:
        tasks:
            - echo ${options.foo}
    test:wd:
        tasks:
            - echo ${options.working_dir}
