globals:
    options:
        foo:
            config: foo
            mode: 4
            description: foo description
            default: This is the global foo option value.

commands:
    test.foo:
        tasks:
            - echo ${taskman.foo}
    test.wd:
        tasks:
            - echo ${taskman.working_dir}
