test:
    command: touch

commands:
    testE:
        - { task: "mkdir", dir: "mkdir" }
    testF:
        - { task: "remove", file: "mkdir" }
    testG:
        - { task: "${test.command}", file: "${test.command}", dir: "${test.command}" }
    testH:
        - { task: "remove", file: "${test.command}" }
